<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resume</title>
  </head>
  <body>
    <% @resumes.each do |resume| %>
    <h1><%= resume.title %></h1>
    <% end %>

  </body>
</html>
