<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resume</title>
  </head>
  <body>
      <% @resumes.each do |resume| %>
      <h3><%= link_to resume.title, resume %></h3><br>
      <% end %>
  </body>
</html>
